<header>
	<%= image_tag("logo.png", :class => "round") %>

	<div class="menu round">
		<ul>
			<li><%= link_to "about", :about %></li>
			<li><%= link_to "contact", :contact %></li>
			<li><%= link_to "home", :home %></li>
			<li><%= link_to "signup", :signup %></li>
		</ul>
	</div>
</header>