<header>
	<%= image_tag("logo.png", :class => "round", :size => "170x40") %>

	<div class="menu round">
		<ul>
			<% if current_user %>
				<li><%= link_to "Welcome #{current_user.name}!", current_user	%></li>
				<li><%= link_to "Setttings", edit_user_path(current_user) %></li>
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to "logout", :logout %></li>
			<% else %>
				<li><%= link_to "login", new_session_path %></li>
				<li><%= link_to "signup", :signup %></li>
			<% end %>
		</ul>
	</div>
</header>